@import '../../../variables';

.avatar {
    content: "";
    display: flex;
    width: 4em;
    height: 4em;
    border-radius: 3em;
    background-color: $secondary-color;
}

.avatar svg {
    height: 100%;
    width: 100%;
    fill: $backgrownd-color;
}