$backgrownd-color: #fefbf6;
$primary-color: #74c7be;
$primary-dark: #95b8b2;
$secondary-color: #d79b9a;
$secondary-dark: #b6a9a6;
$dark-gray: #242424;
$border-rad-1: 12px;
$border-rad-2: 8px;
$border-rad-3: 30px;
$border-clr-1: var(--primary-dark);
$border-th-1: #00000011;