@import './variables';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  min-height: 100vh;
  max-width: 1200px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

main {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  gap: 1em;
}

a {
  font-weight: 500;
  color: $secondary-color;
  text-decoration: inherit;

  &:hover {
    color: $primary-color;
  }
}


p {
  text-align: justify;

  a,
  span {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
  }
}


h1,
h2,
h3 {
  text-transform: capitalize;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  margin-bottom: 0.3em;
}

button {
  border-radius: $border-rad-2;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $secondary-color;
  cursor: pointer;
  transition: border-color 0.25s;

  a {
    color: $backgrownd-color;
  }

  &:hover {
    /* border-color: $primary-color); */
    background-color: $primary-color;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: .5em;
  align-items: center;

  button {
    width: auto;
  }

  input,
  textarea,
  select {
    color: $dark-gray;
    padding: .6em;
    width: 255px;
    border-radius: $border-rad-2;
    border: 1px solid $border-clr-1;
    outline: none;
    background-color: $backgrownd-color;
  }
}

.input-group {
  input:nth-child(1) {
    width: 195px;
  }

  *:nth-child(2) {
    width: 60px;
  }
}

table {
  text-transform: capitalize;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 1;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1em;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: $backgrownd-color;
  border: 1px solid $border-clr-1;
  border-radius: $border-rad-1;
  max-width: 320px;
  width: 100%;
  height: 150px;
  text-transform: capitalize;

  a {
    text-align: end;
  }
}

.btn-icons {
  border-radius: $border-rad-3;
  padding: 0;
  height: 2em;
  width: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $backgrownd-color;
    background-color: $dark-gray;
  }

  a:hover {
    color: $primary-color;
  }

  button {
    background-color: $dark-gray;
  }
}